# Set up Connection

In [9]:
import json
import pandas as pd
from datetime import date
import re
import snowflake.connector
# from snowflake.sqlalchemy import URL
# from sqlalchemy import create_engine
from snowflake.connector import ProgrammingError

# Gets the credentials
with open('/Users/cyndiz/Documents/Projects/credentials/snowflake.json') as f:
    config2 = json.load(f)     

# Connect to DB
con = snowflake.connector.connect(
    user=config2['username'],
    password=config2['password'],
    account=config2['account'],
    authenticator='externalbrowser',
    warehouse='WH_MARKETING_SCIENCE_XXL',
    database='MARKETING_SCIENCE',
    schema='LOCAL'
    )

cur = con.cursor()

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

# Read Files

In [19]:
import re
import numpy as np
from snowflake.connector.pandas_tools import write_pandas

foldername = '/Users/cyndiz/Documents/Projects/PI001-MetaMMM/ElsyMMM/Farmers/2022-06-30 11.51 init/'

filenames = [
    foldername+'model_stats.csv',
    foldername+'Weekly_long.csv',
    foldername+'ScenarioPlanning.csv',
    foldername+'pareto_alldecomp_matrix.csv'
]
filenames

['/Users/cyndiz/Documents/Projects/PI001-MetaMMM/ElsyMMM/Farmers/2022-07-19 16.26 init/model_stats.csv',
 '/Users/cyndiz/Documents/Projects/PI001-MetaMMM/ElsyMMM/Farmers/2022-07-19 16.26 init/Weekly_long.csv',
 '/Users/cyndiz/Documents/Projects/PI001-MetaMMM/ElsyMMM/Farmers/2022-07-19 16.26 init/ScenarioPlanning.csv',
 '/Users/cyndiz/Documents/Projects/PI001-MetaMMM/ElsyMMM/Farmers/2022-07-19 16.26 init/pareto_alldecomp_matrix.csv']

In [20]:
database='MARKETING_SCIENCE'
schema='CZHONG'
client='DEMO'
df_sp = pd.read_csv(foldername+'ScenarioPlanning.csv')
sol_id = list(df_sp['solID'].unique())
start_ds = df_sp['ds'].min()
end_ds = df_sp['ds'].max()
date_range = 'From %s to %s with covid only'%(start_ds,end_ds)

cur.execute('''create or replace file format myformat type='CSV' skip_header=1;''')
cur.execute('''create or replace stage stage_mmm file_format=myformat copy_options = (on_error='skip_file');''')
for filename in filenames:
    print(filename)
    # qry_put= '''PUT file://{filename} @stage_mmm;'''.format(filename=filename)
    filename_model = pd.read_csv(filename)
    filename_model.replace([np.inf, -np.inf],0, inplace=True)
    filename_model['client']=client
    filename_model.columns = map(str.upper, filename_model.columns)
    if re.search('model_stats.csv',filename):
        # tablename = 'MARKETING_SCIENCE.CZHONG.MMM_MODEL_STATS'
        tablename='MMM_MODEL_STATS'
        filename_model=filename_model.rename(columns={'DECOMP.RSSD':'DECOMP_RSSD'})
        # print(filename_model.loc[filename_model['SOLID']=='5_238_6'])
        filename_model['DATE_RANGE']=date_range
        names = filename_model.columns
        formatted_names = list(map(lambda x: ('{x} varchar' if (x in ('SOLID','RN','CLIENT','DATE_RANGE')) else '{x} float').format(x=x), names))
    elif re.search('Weekly_long.csv', filename):
        # tablename = 'MARKETING_SCIENCE.CZHONG.MMM_RAW'
        tablename = 'MMM_RAW'
        filename_model=filename_model.rename(columns={'BM.SALES_CALLS.PRD.54':'SALES_CALLS'})
        # filename_model['DATE']=pd.to_datetime(filename_model['DATE'])
        names = filename_model.columns
        formatted_names = list(map(lambda x: ('{x} varchar' if (x in ('METRICS','CLIENT')) else ('{x} date' if x=='DATE' else '{x} float')).format(x=x), names))
    elif re.search('ScenarioPlanning.csv',filename):
        # tablename = 'MARKETING_SCIENCE.CZHONG.MMM_SCENARIO_PLANNING'
        tablename = 'MMM_SCENARIO_PLANNING'
        # filename_model['DS']=pd.to_datetime(filename_model['DS'])
        filename_model['DATE_RANGE']=date_range
        names = filename_model.columns
        formatted_names = list(map(lambda x: ('{x} varchar' if (x in ('CHANNEL','SOLID','CLIENT','TYPE','DATE_RANGE')) else ('{x} date' if x=='DS' else ('{x} boolean' if x=='FLAG_MEAN' else '{x} float'))).format(x=x), names))
    elif re.search('pareto_alldecomp_matrix.csv',filename):
        tablename = 'MMM_RESPONSE'
        filename_model = filename_model.loc[filename_model['SOLID'].isin(sol_id)]
        filename_model = filename_model[['DS','DEP_VAR','DEPVARHAT','CLIENT','SOLID']]
        filename_model['DATE_RANGE']=date_range
        names = filename_model.columns
        formatted_names = list(map(lambda x: ('{x} varchar' if (x in ('CHANNEL','SOLID','CLIENT','TYPE','DATE_RANGE')) else ('{x} date' if x=='DS' else ('{x} boolean' if x=='FLAG_MEAN' else '{x} float'))).format(x=x), names))
    col_n = ',\n'.join(formatted_names)
    print(col_n)
    qry_create = '''CREATE TABLE IF NOT EXISTS {database}.{schema}.{tablename} ({col_n}) CLUSTER BY (CLIENT); '''.format(col_n=col_n,tablename=tablename,database=database,schema=schema)
    # qry_create = '''CREATE OR REPLACE TABLE {database}.{schema}.{tablename} ({col_n}) CLUSTER BY (CLIENT); '''.format(col_n=col_n,tablename=tablename,database=database,schema=schema)
    if tablename in ('MMM_RESPONSE','MMM_SCENARIO_PLANNING','MMM_MODEL_STATS'):
        qry_delete = '''DELETE FROM {database}.{schema}.{tablename} WHERE client='{client}' and date_range='{date_range}';'''.format(tablename=tablename,database=database,schema=schema,date_range=date_range,client=client)
    else:
        qry_delete = '''DELETE FROM {database}.{schema}.{tablename} WHERE client='{client}';'''.format(tablename=tablename,database=database,schema=schema,client=client)
    # qry_copy = '''COPY INTO {tablename} from @stage_mmm;'''.format(tablename=tablename)
    # cur.execute(qry_put)
    cur.execute(qry_create)
    # print('Table created!')
    cur.execute(qry_delete)
    # cur.execute(qry_copy)
    success, nchunks, nrows, _ = write_pandas(con, filename_model, '{tablename}'.format(tablename=tablename),database='MARKETING_SCIENCE',schema='CZHONG')
    cur.execute('''select * from {tablename} limit 10;'''.format(tablename=database+'.'+schema+'.'+tablename))
    rows=cur.fetch_pandas_all()
    print(rows)
print('Upload Successfully!')

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
/Users/cyndiz/Documents/Projects/PI001-MetaMMM/ElsyMMM/Farmers/2022-07-19 16.26 init/model_stats.csv
SOLID varchar,
RN varchar,
XDECOMPAGG float,
XDECOMPPERC float,
NRMSE float,
DECOMP_RSSD float,
RSQ_TRAIN float,
MEAN_SPEND float,
SPEND_SHARE float,
EFFECT_SHARE float,
ROI_TOTAL float,
CPA_TOTAL float,
MEAN_RESPONSE float,
THETAS float,
CLIENT varchar,
DATE_RANGE varchar
     SOLID               RN     XDECOMPAGG  XDECOMPPERC     NRMSE  \
0  5_175_2      sem_brand_S       0.000000     0.000000  0.074199
1  3_231_2       facebook_S    9089.969920     0.016316  0.075126
2  2_171_2           season    1195.367513     0.002138  0.073994
3  2_171_2            trend  554336.299417     0.991560  0.073994
4  2_248_7      (Intercept)       0.000000     0.000000  0.089408
5  5_166_7          holiday  -13626.290330    -0.024458  0.074801
6  1_241_4         search_S    6832.664932     0.012226  0.075082
7  2_248_7  sem_non_brand_S       0.000000     0.000000  0.089408
8  3_240_3      sem_brand_S  229825.120711     0.024597  0.089414
9  2_248_7           season  112140.603526     0.012002  0.089408

   DECOMP_RSSD  RSQ_TRAIN     MEAN_SPEND  SPEND_SHARE  EFFECT_SHARE  \
0     0.459676   0.858756   77817.416354     0.167277      0.000000
1     0.409557   0.856854   83846.689451     0.165134      0.381171
2     0.508411   0.859534            NaN          NaN           NaN
3     0.508411   0.859534            NaN          NaN           NaN
4     0.709350   0.924476            NaN          NaN           NaN
5     0.436943   0.857256            NaN          NaN           NaN
6     0.440492   0.856221  254637.085235     0.547369      0.483324
7     0.709350   0.924476  157953.640085     0.395494      0.000000
8     0.705564   0.924467   49813.581169     0.124726      0.540699
9     0.709350   0.924476            NaN          NaN           NaN

   ROI_TOTAL    CPA_TOTAL  MEAN_RESPONSE    THETAS  CLIENT  \
0   0.000000     0.000000       0.000000  0.148701  Farmer
1   0.000661  1512.750558      30.596397  0.167497  Farmer
2        NaN          NaN            NaN       NaN  Farmer
3        NaN          NaN            NaN       NaN  Farmer
4        NaN          NaN            NaN       NaN  Farmer
5        NaN          NaN            NaN       NaN  Farmer
6   0.000150  6670.902014      42.857239  0.014999  Farmer
7   0.000000     0.000000       0.000000  0.274700  Farmer
8   0.025775    38.797460     845.720850  0.132558  Farmer
9        NaN          NaN            NaN       NaN  Farmer

                          DATE_RANGE
0    **From 2018-12-31 to 2022-05-30
1  ****From 2018-12-31 to 2022-05-30
2      From 2018-12-31 to 2022-05-30
3      From 2018-12-31 to 2022-05-30
4      From 2018-12-30 to 2022-05-29
5    **From 2018-12-31 to 2022-05-30
6   ***From 2018-12-31 to 2022-05-30
7      From 2018-12-30 to 2022-05-29
8      From 2018-12-30 to 2022-05-29
9      From 2018-12-30 to 2022-05-29
/Users/cyndiz/Documents/Projects/PI001-MetaMMM/ElsyMMM/Farmers/2022-07-19 16.26 init/Weekly_long.csv
DATE date,
SALES_CALLS float,
METRICS varchar,
VALUE float,
CLIENT varchar
         DATE  SALES_CALLS       METRICS         VALUE  CLIENT
0  2019-01-07       4281.0    facebook_I  4.218762e+06  Farmer
1  2018-12-31       3371.0      search_S  1.225219e+05  Farmer
2  2018-12-31       3371.0    facebook_S  4.267304e+04  Farmer
3  2018-12-31       3371.0     display_I  8.011945e+07  Farmer
4  2018-12-31       3371.0      search_I  3.045720e+05  Farmer
5  2018-12-31       3371.0    facebook_I  3.341957e+06  Farmer
6  2018-12-31       3371.0  directmail_S  0.000000e+00  Farmer
7  2018-12-31       3371.0  directmail_I  0.000000e+00  Farmer
8  2018-12-31       3371.0         covid  0.000000e+00  Farmer
9  2018-12-31       3371.0   acquisition  0.000000e+00  Farmer
/Users/cyndiz/Documents/Projects/PI001-MetaMMM/ElsyMMM/Farmers/2022-07-19 16.26 init/ScenarioPlanning.csv
DS date,
CHANNEL varchar,
RESPONSE float,
SPEND float,
SOLID varchar,
FLAG_MEAN boolean,
TYPE varchar,
CLIENT varchar,
DATE_RANGE varchar
           DS    CHANNEL  RESPONSE          SPEND    SOLID  FLAG_MEAN  \
0  2019-05-27  display_S       0.0    9501.925036  1_228_2      False
1  2020-11-16  display_S       0.0  178431.360559  1_228_2      False
2  2019-06-10  display_S       0.0   11978.706072  1_228_2      False
3  2019-01-21  display_S       0.0  128821.396876  1_228_2      False
4  2019-02-11  display_S       0.0   94791.693209  1_228_2      False
5  2019-02-18  display_S       0.0   48628.760252  1_228_2      False
6  2019-02-25  display_S       0.0    9762.027227  1_228_2      False
7  2019-03-11  display_S       0.0   84418.818344  1_228_2      False
8  2019-04-01  display_S       0.0    3216.771548  1_228_2      False
9  2019-04-08  display_S       0.0    3473.373897  1_228_2      False

      TYPE  CLIENT                                         DATE_RANGE
0  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
1  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
2  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
3  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
4  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
5  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
6  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
7  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
8  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
9  Initial  Farmer  ****From 2018-12-31 to 2022-05-30 with covid only
/Users/cyndiz/Documents/Projects/PI001-MetaMMM/ElsyMMM/Farmers/2022-07-19 16.26 init/pareto_alldecomp_matrix.csv
DS date,
DEP_VAR float,
DEPVARHAT float,
CLIENT varchar,
SOLID varchar,
DATE_RANGE varchar
           DS  DEP_VAR    DEPVARHAT  CLIENT    SOLID  \
0  2019-04-08   4054.0  4177.348948  Farmer  1_228_2
1  2020-04-27   3369.0  3012.052791  Farmer  1_228_2
2  2019-05-20   4183.0  3895.085996  Farmer  1_228_2
3  2019-01-21   4280.0  3729.690754  Farmer  1_228_2
4  2019-02-11   3601.0  3900.064931  Farmer  1_228_2
5  2019-02-18   4356.0  3848.617314  Farmer  1_228_2
6  2019-02-25   5211.0  4087.229963  Farmer  1_228_2
7  2019-03-11   4301.0  4053.773467  Farmer  1_228_2
8  2019-04-01   4213.0  4147.989905  Farmer  1_228_2
9  2020-04-13   3159.0  3239.204424  Farmer  1_228_2

                                          DATE_RANGE
0  ****From 2018-12-31 to 2022-05-30 with covid only
1  ****From 2018-12-31 to 2022-05-30 with covid only
2  ****From 2018-12-31 to 2022-05-30 with covid only
3  ****From 2018-12-31 to 2022-05-30 with covid only
4  ****From 2018-12-31 to 2022-05-30 with covid only
5  ****From 2018-12-31 to 2022-05-30 with covid only
6  ****From 2018-12-31 to 2022-05-30 with covid only
7  ****From 2018-12-31 to 2022-05-30 with covid only
8  ****From 2018-12-31 to 2022-05-30 with covid only
9  ****From 2018-12-31 to 2022-05-30 with covid only
Upload Successfully!

In [18]:
cur.execute('select * from marketing_science.czhong.mmm_response;')
rows=cur.fetch_pandas_all()
display(rows)

,DS,DEP_VAR,DEPVARHAT,CLIENT,SOLID,DATE_RANGE
0,2020-01-26,86019.0,84142.960924,Farmer,1_222_8,From 2018-12-30 to 2022-05-29
1,2019-03-10,93981.0,104633.156599,Farmer,1_222_8,From 2018-12-30 to 2022-05-29
2,2019-04-07,85773.0,95542.161305,Farmer,1_222_8,From 2018-12-30 to 2022-05-29
3,2019-06-02,90005.0,82330.035845,Farmer,1_222_8,From 2018-12-30 to 2022-05-29
4,2019-09-01,79936.0,75183.817938,Farmer,1_222_8,From 2018-12-30 to 2022-05-29
...,...,...,...,...,...,...
38838,2022-02-21,2193.0,2809.758698,Farmer,5_92_7,From 2018-12-31 to 2022-05-30
38839,2022-04-25,2905.0,2835.133773,Farmer,5_92_7,From 2018-12-31 to 2022-05-30
38840,2022-05-16,3209.0,2932.251806,Farmer,5_92_7,From 2018-12-31 to 2022-05-30
38841,2021-09-27,3038.0,2509.181594,Farmer,5_92_7,From 2018-12-31 to 2022-05-30
38842,2020-10-05,2660.0,2873.636732,Farmer,5_92_7,From 2018-12-31 to 2022-05-30

In [12]:
date_range

'****From 2018-12-31 to 2022-05-30'

In [29]:
len(filename_model)

23628

In [34]:
sol_id = list(df_sp['solID'].unique())
a=filename_model.loc[filename_model['SOLID'].isin(sol_id)]
len(a)
a

,DS,DEP_VAR,DEPVARHAT,CLIENT,SOLID,DATE_RANGE
1611,2018-12-31,3371,3941.507189,Farmer,2_171_2,From 2018-12-31 to 2022-05-30
1612,2019-01-07,4281,4403.513312,Farmer,2_171_2,From 2018-12-31 to 2022-05-30
1613,2019-01-14,4382,4469.551877,Farmer,2_171_2,From 2018-12-31 to 2022-05-30
1614,2019-01-21,4280,4065.005199,Farmer,2_171_2,From 2018-12-31 to 2022-05-30
1615,2019-01-28,4604,4376.337891,Farmer,2_171_2,From 2018-12-31 to 2022-05-30
...,...,...,...,...,...,...
18969,2022-05-02,3113,2827.571824,Farmer,3_217_2,From 2018-12-31 to 2022-05-30
18970,2022-05-09,3049,2866.271853,Farmer,3_217_2,From 2018-12-31 to 2022-05-30
18971,2022-05-16,3209,2924.412086,Farmer,3_217_2,From 2018-12-31 to 2022-05-30
18972,2022-05-23,3277,2895.634100,Farmer,3_217_2,From 2018-12-31 to 2022-05-30
18973,2022-05-30,3034,2643.312875,Farmer,3_217_2,From 2018-12-31 to 2022-05-30